<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css" />
    <title>UngearVideo</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>

  <!-- for Edge/FF/Chrome/Opera/etc. getUserMedia support -->
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="https://cdn.webrtc-experiment.com/DetectRTC.js"> </script>
    <script>
        const ROOM_ID = "<%= roomId %>";
        var socket = io.connect("/");
        console.log(document.location.host);
    </script>
</head>
<body>
    <div class="container">
        <div id="video-container"></div>

    </div>
    <script src="script.js"></script>
</body>
</html>